@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    -webkit-tap-highlight-color: transparent;
    line-height: 100%;
}

:root {
    --cor-princ: #1ECD6A;
    --cor-texto: #000000;
    --cor-logo: #0E4F30;
    --cor-bg: #FFFFFF;
    --cor-div-despesa-receita: #EEEEEE;
    --cor-mensagem: #4adf8b;
    --cor-errado: #f13d30;
    --hover-button: #16a052;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--cor-bg);
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-princ);
    padding: 0 20px;
    border-radius: 0 30px 30px 0;
    width: 320px;
}

.div-items-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 40px;
    & img {
        width: 1.3rem;
        height: auto;
    }
    & p {
        color: var(--cor-logo);
    }
    & span {
        font-weight: 600;
    }
}

.div-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & i {
        font-size: 5em;
    }
    & p {
        font-size: 1.1rem;
        text-align: center;
    }
}

nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & div {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        & i, a {
            font-size: 0.75rem;
            color: var(--cor-texto);   
            font-weight: 300;
        }
        &:hover a,
        &:hover i{
            color: var(--cor-logo);
        }
    }
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {    
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-princ);
    text-align: center;
}

.div-saldo {
    background: rgba(30, 205, 106, 0.25);
    border-radius: 15px;
    padding: 30px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(30, 205, 106, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    & div {
        display: flex;
        gap: 5px;
        & .p-saldo, i {
            font-size: 0.85rem;
            line-height: 100%;
            color: var(--cor-texto);
            font-weight: 400;
        }
    }
    & .saldo,span {
        font-size: 1.8rem;
        line-height: 100%;
    }
}

.div-pai {
    display: flex;
    gap: 25px;
    width: 100%;
    height: 280px;
    & .div-despesa-receita {
        flex-direction: column;
        display: flex;
        gap: 8%;
        width: 400px;
        height: 100%;
        & div {
            height: 50%;
            position: relative;
            border-radius: 15px;
            box-sizing: border-box;
            padding: 20px 30px;
            background-color: var(--cor-div-despesa-receita);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            & .num, span {
                font-size: 1.3rem;
            }
            & i {
                color: var(--cor-texto);
                cursor: pointer;
                position: absolute;
                top: 25px;
                right: 25px;
                padding: 3px;
                &:hover{
                    color: var(--cor-princ);
                }
            }
        }
    }
    & .legenda {
        font-size: 0.8rem;
        color: var(--cor-texto);
        margin-bottom: 10px;
    }
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    cursor: pointer;
    position: relative;
    z-index: 999;
    & div {
        height: 4px;
        border-radius: 100px;
        width: 100%;
        background-color: var(--cor-logo);
        transition: 0.2s;
    }
}

#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 990;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.mostrar {
    opacity: 1 !important;
}

.esconder {
    opacity: 0 !important;
}

@keyframes slideIn {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes slideOut {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

.surgir-menu {
    animation: slideIn 0.4s forwards ease;
}

.sumir-menu {
    animation: slideOut 1s forwards ease;
}

/* Gráficos */

.div-graficos {
    position: relative;
    height: 100%;
}
.div-setas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    & i {
        cursor: pointer;
        font-size: 1.2rem;
    }
}

.meta-gastos2 {
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    border-radius: 15px;
    height: 100%;
}

.meta-gastos2 canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 600px; /* Opcional: definir um tamanho máximo para o gráfico */
}

.meta-gastos3 {
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    border-radius: 15px;
    height: 100%;
    background-color: #b99319;
}

/* Waves */
.meta-gastos {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    border-radius: 15px;
    height: 100%;
    & .wave {
        position: absolute;
        bottom: calc(70% - 30px);
        left: 0;
        width: 100%;
        height: 40px !important;
        background: url(../img/wave.png);
        background-size: 1000px 40px !important;
        transition: 1s;
        &.wave1 {
            animation: wave1 5s linear infinite;
            z-index: 2;
            opacity: 1;
            animation-delay: 0s;
        }       
        &.wave2 {
            animation: wave2 3s linear infinite;
            z-index: 5;
            opacity: 0.5;
            animation-delay: -5s;
        }
        &.wave3{
            animation: wave3 15s linear infinite;
            z-index: 4;
            opacity: 0.25;
            animation-delay: 0s;
        }
    }
    .div-loading {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(70% - 30px);
        background-color: var(--cor-princ);
        transition: 1s;
    }
    & .div-porcentagem {
        display: flex;
        gap: 15px;
        line-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
        & .porcentagem {
            font-size: 2.5rem;
            color: var(--cor-texto);
            font-weight: 500;
        }
        & .texto {
            font-size: 0.65rem;
            color: var(--cor-texto);
            font-weight: 400;
        }
    }
    & i {
        font-size: 0.9rem;
        cursor: pointer;
        position: absolute;
        z-index: 51;
        bottom: 15px;
        right: 15px ;
        color: var(--cor-texto);
    }
}

.tooltip {
    position: fixed;
    background-color: var(--cor-texto);
    color: var(--cor-bg);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.55rem;
    display: none;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
}

.div-configurar-meta {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    background-color: var(--cor-div-despesa-receita);
    padding: 20px;
    border-radius: 15px;
    gap: 10px;
    & label {
        font-size: 0.7rem;
    }
    & .div-input {
        position: relative;
        & .rs {
            z-index: 2;
            position: absolute;
            text-decoration: none;
            text-transform: none;
            left: 10px; 
            top: 53%;
            transform: translateY(-50%);
            font-style: normal;
            font-size: 0.7rem;
            font-weight: 600;
        }
        & input {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            border: none;
            padding: 5px 10px;
            font-size: 0.65rem;
            text-align: right;
        }
    }
    & button {
        background-color: var(--cor-princ);
        font-weight: 600;
        color: var(--cor-bg);
        text-transform: uppercase;
        border: none;
        padding: 7px 10px;
        font-size: 0.55rem;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-end;
        &:hover{
            background-color: var(--hover-button);
        }
    }
    & .fa-xmark {
        font-size: 0.8rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

.mensagemLimiteSalvo {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--cor-mensagem);
    border-radius: 8px;
    display: none; /* Display */
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    & p, i, span {
        line-height: 15px;
        color: var(--cor-texto);
        font-weight: 600;
        font-size: 0.7rem;
    }
}

.mensagemSurgir {
    animation: mensagemSurgir 0.5s ease;
}
@keyframes mensagemSurgir {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mensagemSumir {
    animation: mensagemSumir 0.5s ease;
}
@keyframes mensagemSumir {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes wave1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position: 1000px;
    }
}
@keyframes wave2 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position: 0;
    }
}
@keyframes wave3 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position: 0;
    }
}

/* Adicionar Receita/Despesa */

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45vw;
    gap: 30px;
    & h2 {
        font-size: 1.4rem;
        line-height: 20px;
        font-weight: 400;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.botao-adicionar{
    background-color: var(--cor-princ);
    padding: 15px 20px;
    border-radius: 7px;
    border: none;
    color: var(--cor-bg);
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 15px;
    &:hover {
        background-color: #;
    }
}

.div-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    & p {
        font-size: 0.9rem;
        font-weight: 400;
    }
    & input {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.4);
        padding: 8px 15px;
        text-align: left;
        font-size: 0.65rem;
    }
}
.div-dupla {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3%;
}

.div-valor {
    position: relative;
    & input {
        text-align: right !important;
    }
    & i {
        z-index: 2;
        position: absolute;
        text-decoration: none;
        text-transform: none;
        left: 13px; 
        top: 2.05rem;
        line-height: 100%;
        transform: translateY(-50%);
        font-style: normal;
        font-size: 0.8rem;
        font-weight: 600;
    }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.add-input {
    line-height: 1rem;
}

/* Responsivo */

@media (max-width: 1210px) {
    header {
        box-sizing: border-box;
    }


    
    .div-pai {
        & .div-despesa-receita {
            width: 320px;
            & div {
                & .legenda {
                    font-size: 0.8rem;
                }
                & .num, span {
                    font-size: 1.2rem;
                }
            }
        }
        & .previa-historico {
            width: 240px;
        }
    }
}

@media (max-width: 1024px) {
    header {
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: 30px 50px;
        flex-direction: row;
        justify-content: space-between;
    }
    .div-logo {
        position: static;
    }
    .div-items-menu {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        position: fixed;
        z-index: 998;
        right: 0;
        top: 0;
        background-color: var(--cor-princ);
        height: 100vh;
    }
    body {
        flex-direction: column;
    }
    main {
        width: 100%;
        height: auto;
        margin: 50px 0 80px 0;
    }
    .menu-icon {
        display: flex;
    }
}

@media (max-width: 690px) {
    header {
        padding: 30px;
    }
    body {
        gap: 40px;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 100px;
    }
    .div-saldo {
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        & .saldo, span {
            font-size: 1.8rem;
        }
    }
    .div-pai {
        width: 85vw;
        max-width: 350px;
        height: auto;
        flex-direction: column;
        .div-despesa-receita {
            height: auto; 
            gap: 20px;
            width: 100%;
            & div {
                height: 100px;
                & .num, span{
                    font-size: 1.2rem;
                }
            }
        }
        & .div-graficos {
            height: 280px;
            align-self: center;
        }
    }
    .meta-gastos, .meta-gastos2, .meta-gastos3 {
        height: 100%;
    }
    .wave {
        height: 100px;
    }
    .div-loading {
        height: 500px;
    }
    .sumir-menu {
        animation: slideOut 0.5s forwards ease;
    }
    .div-setas {
        & i {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 390px) {
    * {
        font-size: 18px;
    }
    .div-saldo {
        & .saldo, span {
            font-size: 1.75rem;
        }
    }
    .div-items-menu {
        box-sizing: border-box; 
    }
}