<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuBolso</title>
    <link rel="stylesheet" href="../assets/css/historicos.css">
    <link rel="icon" href="assets/img/logo.svg">
    <script src="https://kit.fontawesome.com/ac1aaaa398.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="assets/img/logo.svg" alt="logo MeuBolso">
            <p>Meu<span>Bolso</span></p>
        </div>

        <div class="menu-icon" onclick="abrirFecharMenu()">
            <div id="linha1"></div>
            <div id="linha2"></div>
            <div id="linha3"></div>
        </div>

        <div class="div-items-menu">
            <div class="div-user">
                <i class="fa-solid fa-circle-user"></i>
                <p>Nome Sobrenome</p>
            </div>
            <nav>
                <div>
                    <i class="fa-solid fa-wallet"></i>
                    <a href="home.html">Home</a>
                </div>
                <div>
                    <i class="fa-solid fa-sack-dollar"></i>
                    <a href="adicionarReceita.html">Adicionar Receita</a>
                </div>
                <div>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <a href="adicionarDespesa.html">Adicionar Despesa</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <h1>Quanto entrou</h1>
                <div class="periodo">
                    <div>
                        <h2>Período</h2>
                        <p>Outubro/2024</p>                        
                    </div>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="container-historico">
                    <div class="div-historico div-primeira">
                        <div class="div-grupo-fonte">
                            <img src="assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico">
                        <div class="div-grupo-fonte">
                            <img src="assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico">
                        <div class="div-grupo-fonte">
                            <img src="assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico">
                        <div class="div-grupo-fonte">
                            <img src="assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico div-ultima">
                        <div class="div-grupo-fonte">
                            <img src="assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../script.js"></script>
</body>
</html>