<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuBolso</title>
    <link rel="stylesheet" href="../assets/css/historicos.css">
    <link rel="icon" href="../assets/img/logo.svg">
    <script src="https://kit.fontawesome.com/ac1aaaa398.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="../assets/img/logo.svg" alt="logo MeuBolso">
            <p>Meu<span>Bolso</span></p>
        </div>

        <div class="menu-icon" onclick="abrirFecharMenu()">
            <div id="linha1"></div>
            <div id="linha2"></div>
            <div id="linha3"></div>
        </div>

        <div class="div-items-menu">
            <div class="div-user">
                <i class="fa-solid fa-circle-user"></i>
                <p>Nome Sobrenome</p>
            </div>
            <nav>
                <div>
                    <i class="fa-solid fa-wallet"></i>
                    <a href="home.html">Home</a>
                </div>
                <div>
                    <i class="fa-solid fa-sack-dollar"></i>
                    <a href="adicionarReceita.html">Adicionar Receita</a>
                </div>
                <div>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <a href="adicionarDespesa.html">Adicionar Despesa</a>
                </div>
                <div>
                    <i class="fa-solid fa-file"></i>
                    <a href="historico.html">Histórico</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <h1>Entradas</h1>
                <div class="periodo">
                    <div class="div-mes-ano">
                        <h2>Período</h2>
                        <p id="periodoSelecionado">Outubro/2024</p> <!-- ID para manipulação com JavaScript -->                       
                    </div>
                    <i class="fa-solid fa-chevron-right" id="setaFiltro" onclick="toggleDropdown()"></i>
                    <div id="dropdownPeriodo" class="dropdown">
                        <select id="mes">
                            <option value="01">Janeiro</option>
                            <option value="02">Fevereiro</option>
                            <option value="03">Março</option>
                            <option value="04">Abril</option>
                            <option value="05">Maio</option>
                            <option value="06">Junho</option>
                            <option value="07">Julho</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                        <select id="ano">
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                        </select>
                        <button onclick="aplicarPeriodo()">Aplicar</button>
                    </div>
                </div>
                <div class="container-historico">
                    <div class="div-historico div-primeira">
                        <div class="div-grupo-fonte">
                            <img src="../assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico">
                        <div class="div-grupo-fonte">
                            <img src="../assets/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico">
                        <div class="div-grupo-fonte">
                            <img src="../static/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico">
                        <div class="div-grupo-fonte">
                            <img src="../static/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>

                    <div class="div-historico div-ultima">
                        <div class="div-grupo-fonte">
                            <img src="../static/img/despesa.svg" alt="ícone de moeda">
                            <div class="div-fonte">
                                <p class="fonte">Fonte</p>
                                <p class="legenda">Transferência recebida</p>
                            </div>
                        </div>
                        <div class="div-info">
                            <p class="valor">R$<span>346,00</span></p>
                            <p class="data">20/OUT</p>
                        </div>
                    </div>
                </div>
                <a href="historico.html" class="btn-voltar-historico">Voltar</a>
            </div>
        </section>
    </main>

    <script src="../script.js"></script>
</body>
</html>