<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuBolso</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo.svg">
    <script src="https://kit.fontawesome.com/ac1aaaa398.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="../static/img/logo.svg" alt="logo MeuBolso">
            <p>Meu<span>Bolso</span></p>
        </div>

        <div class="menu-icon" onclick="abrirFecharMenu()">
            <div id="linha1"></div>
            <div id="linha2"></div>
            <div id="linha3"></div>
        </div>

        <div class="div-items-menu">
            <div class="div-user">
                <i class="fa-solid fa-circle-user"></i>
                <p>Nome Sobrenome</p>
            </div>
            <nav>
                <div>
                    <i class="fa-solid fa-wallet"></i>
                    <a href="{{ url_for('home') }}">Home</a>

                </div>
                <div>
                    <i class="fa-solid fa-sack-dollar"></i>
                    <a href="{{ url_for('abrirReceita') }}">Adicionar Receita</a>
                </div>
                <div>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <a href="{{ url_for('abrirDespesa')">Adicionar Despesa</a>
                </div>
                <div>
                    <i class="fa-solid fa-file"></i>
                    <a href="{{ url_for('historico')">Histórico</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <h1>Dashboard</h1>
            <div class="div-saldo">
                <div>
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p class="p-saldo">Meu saldo</p>
                </div>
                <p class="saldo">R$<span>999.999,90</span></p>
            </div>
            <div class="div-pai">
                <div class="div-despesa-receita">
                    <div>
                        <p class="legenda">Receitas</p>
                        <p class="num">R$<span>999.999,90</span></p>
                        <a href="adicionarReceita.html"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <div>
                        <p class="legenda">Despesas</p>
                        <p class="num">R$<span>999.999,90</span></p>
                        <a href="adicionarDespesa.html"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                <div class="div-graficos" id="div-graficos">
                    <div class="meta-gastos">
                        <div class="div-porcentagem">
                            <p class="porcentagem" id="porcentagem">0.5%</p>
                            <p class="texto" id="limiteMsg">do limite atingido</p>
                        </div>
                        <div class="div-loading"></div>
                        <div class="tooltip" id="tooltipGastos">R$ 700,00</div>
                        <div class="wave wave1"></div>
                        <div class="wave wave2"></div>
                        <div class="wave wave3"></div>
                        <i class="fa-solid fa-gear" id="gearButton"></i>
                    </div>
                    <div class="meta-gastos2">
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="meta-gastos3">
                        
                    </div>

                    <div class="div-setas">
                        <i class="fa-solid fa-chevron-left" id="chevron-left"></i>
                        <i class="fa-solid fa-chevron-right" id="chevron-right"></i>
                    </div>
                </div>
            </div>
        </section>

        <div class="mensagemLimiteSalvo" id="mensagemLimiteSalvo">
            <p>Limite definido para R$<span id="limiteValor"></span></p>
            <i class="fa-solid fa-circle-check"></i>
        </div>

        <div class="div-configurar-meta" id="divDefinirLimite">
            <label>Limite mensal:</label>
            <div class="div-input">
                <input type="number" id="limiteInput" placeholder="~">
                <i class="rs">R$</i>
            </div>
            <button id="salvarLimite">salvar</button>  
            <i class="fa-solid fa-xmark" id="fecharDivLimite"></i>
        </div>
    </main>

    <div id="overlay"></div>

    <script src="../script.js"></script>
</body>
</html>