<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuBolso</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo.svg">
    <script src="https://kit.fontawesome.com/ac1aaaa398.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="../static/img/logo.svg" alt="logo MeuBolso">
            <p>Meu<span>Bolso</span></p>
        </div>

        <div class="menu-icon" onclick="abrirFecharMenu()">
            <div id="linha1"></div>
            <div id="linha2"></div>
            <div id="linha3"></div>
        </div>

        <div class="div-items-menu">
            <div class="div-user">
                <i class="fa-solid fa-circle-user"></i>
                <p>{{session.get('nome')}} {{session.get('sobrenome')}}</p>
            </div>           
            <nav>
                <a href="{{ url_for('home') }}">
                    <i class="fa-solid fa-wallet"></i>
                    <p>Home</p>
                </a>
                <a href="{{ url_for('abrirReceita') }}">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <p>Adicionar Receita</p>
                </a>
                <a href="{{ url_for('abrirDespesa') }}">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p>Adicionar Despesa</p>
                </a>
                <a href="{{ url_for('historico') }}">
                    <i class="fa-solid fa-file"></i>
                    <p>Histórico</p>
                </a>
            </nav>
            <a href="{{ url_for('logout') }}"> 
                <div class="div-logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Sair</p>
                </div>
            </a>            
        </div>
    </header>
    <main>
        <section>
            <form class="periodo" action="{{ url_for('home') }}" method="get">
                <div class="div-mes-ano">
                    <h2>Período</h2>
                    <p id="periodoSelecionado">
                        {{ textoPeriodo }}
                    </p>                                        
                </div>
                <i class="fa-solid fa-chevron-right" id="setaFiltro" onclick="toggleDropdown()"></i>
                <div id="dropdownPeriodo" class="dropdown">
                    <select id="mes" name="mes">
                        <option value="01">Janeiro</option>
                        <option value="02">Fevereiro</option>
                        <option value="03">Março</option>
                        <option value="04">Abril</option>
                        <option value="05">Maio</option>
                        <option value="06">Junho</option>
                        <option value="07">Julho</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                        <option value="13">Todos</option>
                    </select>
                    <select id="ano" name="ano">
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="13">Todos</option>
                    </select>
                    <button type="submit">Aplicar</button>
                </div>
            </form>
            <h1>Dashboard desse mês</h1>
            <div class="div-saldo">
                <div>
                    <i class="fa-solid fa-dollar-sign"></i>
                    <p class="p-saldo">Meu saldo</p>
                </div>
                <p class="saldo">R$<span>{{receitas - despesas}}</span></p>
            </div>
            <div class="div-pai">
                <div class="div-despesa-receita">
                    <div>
                        <p class="legenda">Receitas</p>
                        <p class="num">R$<span>{{receitas}}</span></p>
                        <a href="{{ url_for('abrirReceita') }}"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <div>
                        <p class="legenda">Despesas</p>
                        <p class="num">R$<span>{{despesas}}</span></p>
                        <a href="{{ url_for('abrirDespesa') }}"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                <div class="div-graficos" id="div-graficos">
                    <div class="meta-gastos">
                        <div class="div-porcentagem">
                            <p class="porcentagem" id="porcentagem">0.5%</p>
                            <p class="texto" id="limiteMsg">do limite atingido</p>
                        </div>
                        <div class="div-loading"></div>
                        <div class="tooltip" id="tooltipGastos">R$ 700,00</div>
                        <div class="wave wave1"></div>
                        <div class="wave wave2"></div>
                        <div class="wave wave3"></div>
                        <i class="fa-solid fa-gear" id="gearButton"></i>
                    </div>
                    <div class="meta-gastos2">
                        <canvas id="myChart" style="width:100%"></canvas>
                    </div>
                    <div class="meta-gastos3">
                        <canvas id="myChart2" data-receitas="{{ receitas }}" data-despesas="{{ despesas }}" style="width:100%;height:100%"></canvas>
                    </div>
                    <div class="div-setas">
                        <i class="fa-solid fa-chevron-left" id="chevron-left"></i>
                        <i class="fa-solid fa-chevron-right" id="chevron-right"></i>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="mensagemLimiteSalvo" id="mensagemLimiteSalvo">
        <p>Limite definido para R$<span id="limiteValor"></span></p>
        <i class="fa-solid fa-circle-check"></i>
    </div>

    <form class="div-configurar-meta" id="divDefinirLimite" method="post" action="{{ url_for('definirGrafico') }}">
        <label>Limite mensal:</label>
        <div class="div-input">
            <input type="number" id="limiteInput" name="limiteInput" placeholder="~">
            <i class="rs">R$</i>
        </div>
        <button type="submit" id="salvarLimite">salvar</button>
        <i class="fa-solid fa-xmark" id="fecharDivLimite"></i>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="alert {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="overlay"></div>

    <script>
        let gastos = {{despesas}}
        var limiteMensal = {% if limite == 0 %}
            null
        {% else %}
            {{ limite }}
        {% endif %};

        var xValues = {{ fontes | tojson }};
        var yValues = {{ valores | tojson }};
    </script>
    <script src="../static/script.js"></script>
</body>
</html>